body {
  background-color: #181818;
  justify-content: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  flex-shrink: 0;
}

button {
  background-color: #181818;
  color: #fff;
  /*margin: 5px;
    */
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  border-width: 5px;
  border-color: #6bb2ae;
  border-style: solid;
  transition: 0.25s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button:hover {
  background-color: #2d4c4a;
  border-color: #4c7f7c;
}

#question-box {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 70%;
  max-width: 300px;
  text-align: center;
  align-content: center;
}

#question {
  font-size: 24px;
  margin: 20px;
}

.label {
  text-align: center;
  padding: 5px;
}

app * {
  margin: auto;
  flex-shrink: 0;
}

.toggle-label {
  padding: 0px 15px;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  min-width: 60px;
  height: 30px;
}

.toggle-slider {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181818;
  /* Black background for the slider */
  border: 2px solid #61dafb;
  /* Blue border color */
  border-radius: 15px;
  /* Round corners */
  transition: 0.4s;
}

.toggle-input {
  display: none;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: #61dafb;
  /* White slider color */
  border-radius: 50%;
  /* Round slider */
  transition: 0.4s;
}

input:checked+.toggle-slider {
  background-color: #02555d;
}


.toggle-input:checked+.toggle-slider:before {
  transform: translateX(30px);
  /* Move the slider to the right when checked */
}

box {
  display: flex;
  margin: 10px;
}

box+box {
  margin-top: 5px;
}

h1 {
  margin: 10px;
}

.options {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(350px, 0, 0);
  width: 300px;
  background-color: #202020;
  border: 4px solid #303030;
  border-radius: 10px;
  margin: 20px;
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
  -webkit-transform: translate3d(350px, 0, 0);
  -moz-transform: translate3d(350px, 0, 0);
  -ms-transform: translate3d(350px, 0, 0);
  -o-transform: translate3d(350px, 0, 0);
}

.board {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(700px, 0, 0);
  background-color: #202020;
  border: 4px solid #303030;
  border-radius: 10px;
  margin: 20px;
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
  -webkit-transform: translate3d(700px, 0, 0);
  -moz-transform: translate3d(700px, 0, 0);
  -ms-transform: translate3d(700px, 0, 0);
  -o-transform: translate3d(700px, 0, 0);
}